page-home {
    .home-title-black{
        font-size: 16px;
        opacity: 100%;
        color: #D42026;
        font-family: Roboto-Black;
        margin-top: 12px;      
    }

    .home-title-ligth{
        font-size: 16px;
        opacity: 100%;
        color: #D42026;
        font-family: Roboto-Light;
        margin-top: 12px;      
    }

    .title-line{
        float: left;
        background-color: #D42026;
        width: 55px;
        height: 3px;
    }

    .hero-name{
        color: #D42026;
        font-size: 16px;
    }

    ion-grid.heroes-grid.grid {
        background-color: #D42026;
        color: white;
    }

    ion-icon.pagination-arrows{
        zoom: 3;
        color: #D42026;
    }

    .button-md.first-button{
        margin-top: 5%;
        margin-left: 15%;
        position: absolute;
        width: 25px;
        height: 25px;
        color: white;
        background-color: #D42026;
    }

    .button-ios.first-button{
        position: absolute;
        margin-top: 5%;
        margin-left: 8%;
        width: 25px;
        height: 25px;
        color: white;
        background-color: #D42026;
    }

    .button-md.next-buttons{
        position: absolute;
        margin-top: 5%;
        margin-left: 29%;
        width: 25px;
        height: 25px;
        color: #D42026;
        border: 2px solid #D42026;
    }

    .button-md.next-buttons2{
        position: absolute;
        margin-top: 5%;
        margin-left: 43%;
        width: 25px;
        height: 25px;
        color: #D42026;
        border: 2px solid #D42026;
    }

    .button-ios.next-buttons{
        position: absolute;
        margin-top: 5%;
        margin-left: 20%;
        width: 25px;
        height: 25px;
        color: #D42026;
        border: 2px solid #D42026;
    }

    .button-ios.next-buttons2{
        position: absolute;
        margin-top: 5%;
        margin-left: 32%;
        width: 25px;
        height: 25px;
        color: #D42026;
        border: 2px solid #D42026;
    }
}
